<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.biyeseji.remeberme.mapper.BlogtagsMapper">
  <resultMap id="BaseResultMap" type="com.zhang.biyeseji.remeberme.pojo.Blogtags">
    <result column="tagid" jdbcType="INTEGER" property="tagid" />
    <result column="tagname" jdbcType="VARCHAR" property="tagname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tagid, tagname
  </sql>

<!--  这里是查询所有-->
  <select id="selectTagsAll" resultType="com.zhang.biyeseji.remeberme.pojo.Blogtags">
    select * from blogtags;
  </select>
  <select id="selectByExample" parameterType="com.zhang.biyeseji.remeberme.pojo.BlogtagsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blogtags
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zhang.biyeseji.remeberme.pojo.BlogtagsExample">
    delete from blogtags
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhang.biyeseji.remeberme.pojo.Blogtags">
    insert into blogtags (tagid, tagname)
    values (#{tagid,jdbcType=INTEGER}, #{tagname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhang.biyeseji.remeberme.pojo.Blogtags">
    insert into blogtags
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagid != null">
        tagid,
      </if>
      <if test="tagname != null">
        tagname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagid != null">
        #{tagid,jdbcType=INTEGER},
      </if>
      <if test="tagname != null">
        #{tagname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhang.biyeseji.remeberme.pojo.BlogtagsExample" resultType="java.lang.Long">
    select count(*) from blogtags
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blogtags
    <set>
      <if test="record.tagid != null">
        tagid = #{record.tagid,jdbcType=INTEGER},
      </if>
      <if test="record.tagname != null">
        tagname = #{record.tagname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blogtags
    set tagid = #{record.tagid,jdbcType=INTEGER},
      tagname = #{record.tagname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>